<h2>Backlog </h2>
<md-list>
    <md-list-item *ngFor="let task of tasks; let i = index;">
        <div layout="row" flex class="layout-max-width">
            <md-card>
            <md-card-title>{{task.tittle}}</md-card-title>
            <md-card-content>{{task.description}}</md-card-content>
            <md-card-actions><button md-button type="submit" (click)="removeCard(task)"><i class="material-icons">delete</i>Delete</button></md-card-actions>
       </md-card>
        </div>
    </md-list-item>
</md-list>