<h2>Done  ({{ tasks.length}})</h2>
<md-list class="bag" [dragula]='"first-bag"' [attr.data-id]="identifier" [dragulaModel]="tasks">
  <md-list-item *ngFor="let task of tasks; let i = index;" [attr.data-id]="task.id" [attr.data-tittle]="task.tittle" [attr.data-description]="task.description"  [attr.data-remedy]="task.remedy"  [attr.data-jira]="task.jira">
        <div layout="row" flex class="layout-max-width">
            <app-task-card [task]='task'></app-task-card>
        </div>
    </md-list-item>
</md-list>