<h2>In Progress ({{ tasks.length}}) </h2>
<md-list class="bag" [dragula]='"first-bag"' [attr.data-id]="identifier" [dragulaModel]="tasks">
  <md-list-item *ngFor="let task of tasks; let i = index;" [attr.data-id]="task.id" [attr.data-tittle]="task.tittle" [attr.data-description]="task.description"  [attr.data-remedy]="task.remedy"  [attr.data-jira]="task.jira">
        <div layout="row" flex class="layout-max-width">
            <md-card>
            <md-card-title>{{task.tittle}}</md-card-title>
            <md-card-content>{{task.description}}<br>
              <b *ngIf="task.remedy" >Remedy: <a href="https://cau.agbar.net/MidTier/servlet/ViewFormServlet?form=HPD:Help Desk&server=rmdarspro.agbar.local&qual='ID de la incidencia*%2B'%3D%22{{task.remedy}}%22" >{{task.remedy}}</a><br></b>
              <b *ngIf="task.jira">Jira: <a href="http://jira.absapp.net/browse/{{task.jira}}" >{{task.jira}}</a></b>
            </md-card-content>
            <md-card-actions>
                    <button md-button (click)="removeCard(task)"><i class="material-icons">mode_edit</i>Edit</button>
                    <button md-button type="submit" (click)="removeCard(task)"><i class="material-icons">delete</i>Delete</button>
            </md-card-actions>
       </md-card>
        </div>
    </md-list-item>
</md-list>